# 3. Vehicles

> Returns parent ID and registration number of vehicles which match the vehicle number passed in the argument. Ex: `0007` returns `KA53F0007` and `KA57F0007`.

## Sample request

```bash
curl 'https://bmtcmobileapi.karnataka.gov.in/WebAPI/ListVehicles' \
  -H 'Content-Type: application/json' \
  -H 'User-Agent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36' \
  --data-raw '{"vehicleRegNo":"0007"}'

```

## Sample response

```json
{
    "data": [
        {
            "vehicleid": 19100,
            "vehicleregno": "KA53F0007",
            "responsecode": 200
        },
        {
            "vehicleid": 18830,
            "vehicleregno": "KA57F0007",
            "responsecode": 200
        }
    ],
    "Message": "Success",
    "Issuccess": true,
    "exception": null,
    "RowCount": 2,
    "responsecode": 200
}
```

In [ ]:
%load_ext autoreload
%autoreload 2

In [ ]:
#| default_exp bmtc.apis.vehicles

In [ ]:
#| hide
from nbdev.showdoc import *

In [ ]:
#| export
import string
import json
import time
import datetime
from tqdm import tqdm
import geojson

import requests
import pandas as pd
from fastcore.all import Path
from traffic_data_bengaluru.utils import *
from nbdev.config import get_config

In [ ]:
#| export
import logging
logging.basicConfig(
    level=logging.INFO,
    format="%(asctime)s [%(levelname)s] %(message)s"
)
logger = logging.getLogger(__name__)

In [ ]:
#| hide
#| eval: false

cfg = get_config()
repo_directory = Path(cfg.nbs_path).parent

data_directory = repo_directory / "data" / "bmtc"
data_directory.mkdir(exist_ok=True, parents=True)

# Functions

In [ ]:
#| export
def fetch_vehicles(pattern: str = "", sleep_duration: float = 0.1):
    """Fetch vehicles matching the given registration number pattern from BMTC API."""
    time.sleep(sleep_duration)
    url = "https://bmtcmobileapi.karnataka.gov.in/WebAPI/ListVehicles"

    headers = {
        "Content-Type": "application/json",
        "User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
        "lan": "en"
    }

    if pattern != '':
        payload = {"vehicleRegNo": pattern}
        try:
            response = requests.post(url, headers=headers, json=payload)
            response.raise_for_status()
            return response.json()['data']
        except requests.exceptions.RequestException as e:
            print(f"Error: {e}")
            return None
    else:
        vehicles = []
        characters = string.digits + string.ascii_lowercase
        for pattern in tqdm(characters, desc = 'Fetching vehicles'):
            vehicles += fetch_vehicles(pattern)
        return vehicles

In [ ]:
#| hide
#| eval: false
vehicles = fetch_vehicles(pattern='0123')
print(json.dumps(vehicles, indent=4))

[
    {
        "vehicleid": 21634,
        "vehicleregno": "KA53F0123",
        "responsecode": 200
    },
    {
        "vehicleid": 19930,
        "vehicleregno": "KA57F0123",
        "responsecode": 200
    }
]

In [ ]:
#| export
def process_vehicles(vehicles):
    """Process and clean vehicle data, returning a DataFrame with `vehicle_id` and `registration_number`."""
    df_vehicles = pd.DataFrame(vehicles)
    df_vehicles = df_vehicles.drop_duplicates(subset=["vehicleregno"], keep="first")

    df_vehicles.rename(columns = {'vehicleid': 'vehicle_id', 'vehicleregno': 'registration_number'}, inplace=True)
    df_vehicles = df_vehicles.sort_values(by='vehicle_id').reset_index(drop=True)
    columns = ['vehicle_id', 'registration_number']
    return df_vehicles[columns]

In [ ]:
#| hide
#| eval: false
df_vehicles = process_vehicles(vehicles)
df_vehicles

   vehicle_id registration_number
0       19930           KA57F0123
1       21634           KA53F0123

In [ ]:
# | export
def task_fetch_vehicles(data_directory: Path):
    filename = f'{str(int(datetime.datetime.now().timestamp()))}'

    logger.info("Fetching vehicles ...")
    vehicles = fetch_vehicles()

    filepath = data_directory / 'raw' / 'vehicles' / f'{filename}.json'
    filepath.parent.mkdir(parents=True, exist_ok=True)
    with open(filepath, 'w') as f:
        json.dump(vehicles, f, indent=2)
    logger.info(f"Raw vehicles saved successfully to {filepath}")

    logger.info("Processing vehicles ...")
    df_vehicles = process_vehicles(vehicles)

    filepath = data_directory / 'cleaned' / 'vehicles' / f'{filename}.csv'
    filepath.parent.mkdir(parents=True, exist_ok=True)
    df_vehicles.to_csv(filepath, index=False)
    logger.info(f"Processed vehicles saved successfully to {filepath}")

In [ ]:
#| hide
#| eval: false

task_fetch_vehicles(data_directory=data_directory)

2025-09-24 23:31:31,619 [INFO] Fetching vehicles ...
Fetching vehicles: 100%|██████████| 36/36 [00:11<00:00,  3.25it/s]
2025-09-24 23:31:42,945 [INFO] Raw vehicles saved successfully to /Users/bkowshik/code/traffic-kowshik/traffic-data-bengaluru/data/bmtc/raw/vehicles/1758736891.json
2025-09-24 23:31:42,946 [INFO] Processing vehicles ...
2025-09-24 23:31:42,978 [INFO] Processed vehicles saved successfully to /Users/bkowshik/code/traffic-kowshik/traffic-data-bengaluru/data/bmtc/cleaned/vehicles/1758736891.csv

In [ ]:
#| export
def get_vehicles(data_directory: Path):
    filepath = get_latest_directory(data_directory / "cleaned" / "vehicles")
    vehicles = pd.read_csv(filepath)
    return vehicles

In [ ]:
#| hide
#| eval: false
df_vehicles = get_vehicles(data_directory)
print(df_vehicles.shape)
df_vehicles.head()

(7235, 2)

   vehicle_id registration_number
0        2594           KA57F1127
1        2595           KA53F0030
2        2596           KA57F2185
3        2597           KA53F0029
4        2598           KA57F0796

In [ ]:
#| hide
import nbdev; nbdev.nbdev_export()